[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-countries = "*"
"django-bootstrap4" = "*"
django-taggit = "*"

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
