[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-countries = "*"
"django-bootstrap4" = "*"
django-taggit = "*"
gunicorn = "*"
"psycopg2" = "*"
"markdown2" = "*"

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
"fabric3" = "*"
gitpython = "*"
