-i https://pypi.python.org/simple
django-bootstrap4==0.0.6
django-countries==5.3
django-rest-framework==0.1.0
django-taggit==0.22.2
django==2.0.5
djangorestframework==3.8.2
gunicorn==19.8.1
markdown2==2.3.5
psycopg2==2.7.4
pytz==2018.4
