{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% render_bundle 'main' 'css' %}
        <title>{% block page_title %}{{ page_title }}{% endblock page_title %} - {{ SITE_NAME }}</title>
    </head>
    <body>
        <div class="container mx-auto">
            <a class="navbar-brand" href="/">
                <h1 class="text-2xl"> {{ SITE_NAME }} </h1>
            </a>
        </div>
        <br>
        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
