{% extends "base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block page_title %}Activities{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="mt-3">
                <h4>Activities {% if project %}for {{ project }} {% endif %}</h4>
                <div class="list-group list-group-flush">
                    {% for event in object_list %}
                        <div class="list-group-item list-item">
                            <small class="text-muted float-right" title="{{ event.created_at }}">
                                {{ event.created_at|naturaltime }}
                            </small>
                            <a class="text-dark" href="{% url 'core:project-event-detail' event.slug %}">{{ event.title }}</a>
                            <div class="small text-muted">
                                {{ event.description|truncatechars:"60" }}
                            </div>
                            <div class="text-muted-x">
                                <small>
                                    On
                                    <a class="text-muted-x" href="{% url 'core:project-detail' event.project.slug %}"><strong>{{ event.project }}</strong></a>
                                    by {{ event.created_by.get_full_name }}
                                </small>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-4">
                    {% bootstrap_pagination page_obj size='small' %}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
