{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="mt-3">
                <h4>{{ project.title }}</h4>

                <div class="list-group list-group-flush">
                    <div class="list-group-item list-item">
                        Type: {{ project.type }}
                    </div>

                    <div class="list-group-item list-item">
                        Status: {{ project.status }}
                    </div>

                    <div class="list-group-item list-item">
                        Started on: {{ project.start|default:"N/A" }}
                    </div>

                    <div class="list-group-item list-item">
                        Deadline: {{ project.end|default:"N/A" }}
                    </div>

                    <div class="list-group-item list-item">
                        Backers:
                        {% for b in project.backers.all %}
                            <span class="badge badge-light">{{ b }}</span>
                        {% endfor %}
                    </div>

                    <div class="list-group-item list-item">
                        Contractors:
                        {% for b in project.contractors.all %}
                            <span class="badge badge-light">{{ b }}</span>
                        {% endfor %}
                    </div>

                    {% if project.url %}
                        <div class="list-group-item list-item">
                            URL: <a href="{{ project.url }}">{{ project.url }}</a>
                        </div>
                    {% endif %}

                    <div class="list-group-item list-item">
                        Budget (Rs): {{ project.budget|default:"N/A" }}
                    </div>

                    <div class="list-group-item list-item">
                        Employeed workers: {{ project.workers|default:"N/A" }}
                    </div>

                    {% for datum in project.extra_data.all %}
                        <div class="list-group-item list-item">
                            {{ datum.key }}: {{ datum.value }}
                        </div>
                    {% endfor %}

                    {% if project.description %}
                        <div class="list-group-item list-item">
                            {{ project.description|linebreaksbr }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
