{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="mt-3">
                <h4>Projects</h4>
            </div>
            <div class="mt-3">
                <div class="list-group list-group-flush">
                    {% for project in object_list %}
                        <div class="list-group-item list-item">
                            <small class="text-muted float-right" title="{{ project.created_at }}">
                                {{ project.created_at|naturaltime }}
                            </small>
                            <a class="text-dark" href="{% url 'core:project-detail' project.slug %}">{{ project.title }}</a>
                            <div class="small text-muted">
                                {{ project.description|truncatechars:"60" }}
                            </div>
                            <div class="text-muted-x">
                                <small>
                                    Added by {{ project.created_by.get_full_name }}
                                </small>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
