{% extends "base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block page_title %}Projects{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="mt-3">
                <h4>Projects</h4>
            </div>
            <div class="mt-3">
                <div class="list-group list-group-flush">
                    {% for project in object_list %}
                        <div class="list-group-item list-item pb-1 pt-3">
                            <a href="{% url 'core:project-detail' project.slug %}">
                                <strong>
                                    {{ project.title }}
                                </strong>
                            </a>
                            <div class="text-muted">
                                {{ project.description|truncatechars:"60" }}
                            </div>
                            <div class="small text-muted-x">
                                <span class="mr-2">{{ project.type }}</span>
                                <span class="mr-2">{{ project.status }}</span>
                                <span title="{{ project.modified_at }}">Updated {{ project.modified_at|naturaltime }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-4">
                    {% bootstrap_pagination page_obj size='small' %}
                </div>

            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
{% endblock content %}
